TestBluetooth/bin/
TestBluetooth/obj/
packages/32feet.NET.3.5.0.0/
ForceConnectToPhone/obj/
ForceConnectToPhone/bin/
ProvideServerToPhone/obj/
ProvideServerToPhone/bin/
ListenToPairedArduino/bin/
ListenToPairedArduino/obj/
